.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

storage/images/creator_photo/*
!storage/images/creator_photo/index.html

storage/images/screenshot/*
!storage/images/screenshot/index.html

storage/images/theme_photo/*
!storage/images/theme_photo/index.html

storage/images/user_avatar/*
!storage/images/user_avatar/index.html
!storage/images/user_avatar/user-default-avatar.jpg

storage/images/front_display/*
!storage/images/front_display/index.html

storage/images/add_ons/*
!storage/images/add_ons/index.html

storage/images/content/*
!storage/images/content/index.html

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
